{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/index.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<section class="hero-section">
        <div class="presentation-col img-fluid">
            <h1>
                O MELHOR <br />
                CUIDADO PARA <br />
                SEU MELHOR <br />
                AMIGO.
                <br />
                <br />
            </h1>
            <h4>
                Está esperando o que para fazer seu pet mais <br>
                feliz? Aqui você encontra o cuidado que seu pet <br>
                merece. Banho, tosa, rações e acessórios.<br>
            </h4>
        </div>
    </section>

<section class="servicos">
         <h1 class="mt-5 mb-5 title">OS PETSHOP'S COSTUMAM FORNECER</h1>
         <div class="container-fluid d-flex justify-content-center align-items-center container-servicos">
            <div class="row row-cols-2 row-servicos">
                <div class="col-md-6 d-flex mt-5 mb-5 col">
                    <div class="wrapper-img">
                        <img src="{% static '/images/cachorrotosa.jpg' %}" alt="cachorro-tosa" />
                    </div>
                    <div class="wrapper-conteudo">
                        <h4>
                            Tosa
                        </h4>
                        <h6>
                            A tosa é um procedimento de <br>
                            corte do pelo de um animal de <br>
                            estimação.
                        </h6>
                    </div>
                </div>
                <div class="col-md-6 d-flex mt-5 col">
                    <div class="wrapper-img">
                        <img src="{% static '/images/cachorroacessorios.jpg' %}" alt="cachorro-tosa" />
                    </div>
                    <div class="wrapper-conteudo">
                        <h4>
                            Acessorios
                        </h4>
                        <h6>
                            Os acessórios para animais de <br>
                            estimação são itens projetados <br>
                            para melhorar o conforto, bem- <br>
                            estar, segurança e estilo dos <br>
                            animais de estimação.
                        </h6>
                    </div>
                </div>
                <div class="col-md-6 d-flex mt-5 mb-5 col">
                    <div class="wrapper-img">
                        <img src="{% static '/images/cachorrobanho.jpg' %}" alt="cachorro-tosa" />
                    </div>
                    <div class="wrapper-conteudo">
                        <h4>
                            Banho
                        </h4>
                        <h6>
                            O banho em PET é uma <br>
                            atividade essencial para manter <br>
                            a higiene e o bem-estar do <br>
                            animal de estimação.<br>
                        </h6>
                    </div>
                </div>
                <div class="col-md-6 d-flex mt-5 mb-5 col">
                    <div class="wrapper-img">
                        <img src="{% static '/images/cachorrovet.jpg' %}" alt="cachorro-tosa" />
                    </div>
                    <div class="wrapper-conteudo">
                        <h4>
                            Veterinário
                        </h4>
                        <h6>
                            A função do médico veterinário é <br>
                            cuidar da saúde e bem-estar dos <br>
                            animais.
                        </h6>
                    </div>
                </div>
            </div>
         </div>
        <div class="container-fluid d-flex align-items-center justify-content-center mt-5">
            <a href="#" class="btn-cta">AGENDE AGORA!</a>
        </div>
    </section>
    <a href="{% url 'chatbot_view' %}" class="chatbot"><i class="fa-solid fa-comments"></i></a>
{% endblock content %}